<ul class = "share-tools-menu">
                            <li class = "facebook"><%= image_tag('facebook-black.png') %></li>
                            <li class = "twitter"><%= image_tag('twitter-black.png') %></li>
                            <li class = "email"><%= image_tag('mail-black.png') %></li>
                            <li class = "forward"><%= image_tag('forward-black.png') %></li>
                            <li class = "save"><%= image_tag('flag.png') %></li>
                            <li class = "diag"><%= image_tag('dialogue.png') %></li>
                        </ul>